{%extends 'all-photos/base.html'%}

 {% block content %}

 <div class="container">


   <div class="row">
     <h1 class="text-center">{{image.name}}</h1>
     <img style=" margin-top: 20px; margin-bottom: 20px; width:350px; height:300px;" src="{{images.image.url}}" class="img-thumbnail" alt="Image" data-toggle="modal" data-target="#{{image.id}}">
   </div>

   <div class="row">
     {% autoescape on %}
     {{image.post| safe}}
    {% endautoescape %}

   </div>

   <div class="row">
     <p>Posted {{image.pub_date|timesince}} by {{image.user.first_name}}</p>
   </div>

 </div>

 {% endblock %}