{%extends 'all-photos/base.html'%}
{% block content %} 
{{ block.super}}
{% load bootstrap3 %}
<div class="container">

  <!-- Looping through photos   -->
  <!-- <div class="container-fluid">

    <form  action="{%url 'photosToday'%}" method="post">
      {%csrf_token%}
  
      {% bootstrap_form letterForm layout='inline' %}
      <input type="submit" value="Subscribe">
    </form>
  
  </div> -->
  {% for photos_item in photos %}

  <div class="row">
    <!-- displaying Photos image -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ photos_item.name }} </h2>
    </div>
    <!--Display photos images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img style=" margin-top: 20px; margin-bottom: 20px; width:350px; height:300px;" src="{{image.image.url}}" class="img-thumbnail" alt="Image" data-toggle="modal" data-target="#{{image.id}}">
    </div>

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Photos Items</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}