{% load bootstrap3 %} {% load staticfiles %}
{% block styles %} {% bootstrap_css %}
<div class="well" style="margin-bottom:  -200px">
<div class="col-md-3 "></div>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %} 
    {% bootstrap_form form layout='inline'%}
    <input type="submit" class="btn btn-success btn-mid" value="Submit">
    <input type="hidden" name="next" value="{{next}}">
</form>
    <p><a  href="{% url 'photosToday' %}" >Previous</a></p>
    </div>
    
{% endblock %}